body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #303f9f;
    /* Deep indigo color for the track */
}

::-webkit-scrollbar-thumb {
    background-color: #1a237e;
    /* Darker indigo color for the scrollbar handle */
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0d47a1;
    /* Even darker indigo color on hover */
}